*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole generiche */
.none{
    text-decoration: none;
}

/* regole container con nav e main */
.container{
    display: flex;
    height: calc(100vh - 100px);
    /* DEBUG */
    /* background-color: rgb(0, 119, 255); */
}

/* regole navigatore */
.container nav{
    height: 100%;
    width: 200px;
    /* DEBUG */
    background-color: green;
}

/* regole main */
.container main{
    height: 100%;
    width: calc(100% - 200px);
    overflow: auto;
    background-color: #141922;
    /* DEBUG */
    /* background-color: blue; */
}

/* regole bordo superiore trasparente */
.payoff{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* bottone EFFETTUA UPGRADE */
.payoff a{
   border: 1px solid white;
   border-radius: 999999px; 
   padding: 8px 15px;
   color: white;
   font-size: 10px;
   font-weight: bold;
}

/* lista con link di pagina */
.lista-superiore{
    display: flex;
    justify-content: center;
    list-style: none;  
}

.lista-superiore li{
    margin: 15px 10px;
    font-size: 10px;
}

.lista-superiore a{
    color: #787a7f;
}




/* regole player  */
.player{
    display: flex;
    justify-content: space-between;
    height: 100px;
    /* DEBUG */
    background-color: grey;
}